<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="PHP-CGI" />
            <add name="phpcgifast" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\laragon\bin\php\php-7.4.19-Win32-vc15-x64\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
