USE [master]
GO
/****** Object:  Database [cdc_plataforma_oirs]    Script Date: 24/08/2022 0:14:20 ******/
CREATE DATABASE [cdc_plataforma_oirs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cdc_plataforma_oirs', FILENAME = N'D:\Archivos de Programas\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cdc_plataforma_oirs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cdc_plataforma_oirs_log', FILENAME = N'D:\Archivos de Programas\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cdc_plataforma_oirs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cdc_plataforma_oirs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cdc_plataforma_oirs]
GO
/****** Object:  Table [dbo].[actions]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action] [varchar](50) NULL,
	[icon] [varchar](50) NULL,
	[class] [varchar](50) NULL,
	[description] [varchar](50) NULL,
	[href] [varchar](500) NULL,
	[data] [varchar](500) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_actions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[areas]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[areas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[area] [varchar](50) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_areas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branchs]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branchs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch] [varchar](50) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_branchs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[channels]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[channels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[channel] [varchar](50) NULL,
	[send_email] [int] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_channel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[channels_entry]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[channels_entry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NULL,
	[entry_channel] [varchar](50) NULL,
	[deleted_at] [nchar](10) NULL,
 CONSTRAINT [PK_channels_entry] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[region_id] [int] NULL,
	[district] [varchar](50) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_districts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emails]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emails](
	[id] [int] NOT NULL,
	[from_email] [varchar](100) NULL,
	[from_name] [varchar](100) NULL,
	[subject] [varchar](100) NULL,
	[body] [varchar](max) NULL,
	[cid_have] [int] NULL,
	[cid_json_list] [varchar](max) NULL,
 CONSTRAINT [PK_emails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_channel] [varchar](100) NULL,
	[invoice] [varchar](100) NULL,
	[form_type_id] [int] NULL,
	[pacient_names] [varchar](100) NULL,
	[pacient_social_name] [varchar](100) NULL,
	[pacient_lastname] [varchar](100) NULL,
	[pacient_mlastname] [varchar](100) NULL,
	[pacient_rut] [varchar](10) NULL,
	[pacient_gender_id] [int] NULL,
	[pacient_phone] [int] NULL,
	[pacient_address] [varchar](100) NULL,
	[pacient_region_id] [int] NULL,
	[pacient_district_id] [int] NULL,
	[pacient_email] [varchar](255) NULL,
	[attention_date] [date] NULL,
	[attention_place] [varchar](100) NULL,
	[is_pacient] [int] NULL,
	[claimant_names] [varchar](100) NULL,
	[claimant_social_name] [varchar](100) NULL,
	[claimant_lastname] [varchar](100) NULL,
	[claimant_mlastname] [varchar](100) NULL,
	[claimant_rut] [varchar](10) NULL,
	[claimant_gender_id] [int] NULL,
	[claimant_phone] [int] NULL,
	[claimant_address] [varchar](100) NULL,
	[claimant_region_id] [int] NULL,
	[claimant_district_id] [int] NULL,
	[claimant_email] [varchar](255) NULL,
	[form_sign] [varchar](max) NULL,
	[form_branch_id] [int] NULL,
	[form_area_id] [int] NULL,
	[form_channel_id] [int] NULL,
	[form_resume] [varchar](1500) NULL,
	[form_solution] [varchar](1500) NULL,
	[form_channel_entry_id] [int] NULL,
	[form_is_priority] [int] NULL,
	[form_subject_claim] [varchar](100) NULL,
	[form_ot] [varchar](100) NULL,
	[form_management] [varchar](1500) NULL,
	[form_improve] [varchar](1500) NULL,
	[status_id] [int] NOT NULL,
	[user_current] [int] NULL,
	[user_entry] [int] NULL,
	[user_manager] [int] NULL,
	[user_director] [int] NULL,
	[form_date_received] [datetime] NULL,
	[form_date_entry_assign] [datetime] NULL,
	[form_date_entry] [datetime] NULL,
	[form_date_manager_assign] [datetime] NULL,
	[form_date_manager] [datetime] NULL,
	[form_date_director_assign] [datetime] NULL,
	[form_date_director] [datetime] NULL,
	[form_date_closed] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms_documents]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms_documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_id] [int] NULL,
	[doc_desc] [varchar](500) NULL,
	[original_name] [varchar](500) NULL,
	[path] [varchar](500) NULL,
	[upload_name] [varchar](500) NULL,
	[user_id] [int] NULL,
	[system] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [date] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_forms_documents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms_history]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_id] [int] NULL,
	[user_id] [int] NULL,
	[message] [varchar](500) NULL,
	[system] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [date] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_forms_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms_notifications]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms_notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_id] [int] NULL,
	[user_id] [int] NULL,
	[notification] [varchar](100) NULL,
	[is_read] [int] NULL,
	[class] [varchar](100) NULL,
	[icon] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [date] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_forms_notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genders]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gender] [varchar](50) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_gender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menus]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[page_id] [int] NULL,
	[profile_id] [int] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_menus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pages]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[controller] [varchar](100) NULL,
	[description] [varchar](50) NULL,
	[icon] [varchar](50) NULL,
	[parent_id] [int] NULL,
	[is_parent] [int] NULL,
	[section] [varchar](50) NULL,
	[order_parent] [int] NULL,
	[order_child] [int] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_pages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pages_actions]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pages_actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[page_id] [int] NULL,
	[profile_id] [int] NULL,
	[status_id] [int] NULL,
	[actions] [varchar](1000) NULL,
	[deleted_at] [int] NULL,
 CONSTRAINT [PK_pages_actions_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profiles]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[profile] [varchar](50) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_profiles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[region] [varchar](50) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_regions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](50) NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_workflow]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_workflow](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_current] [int] NULL,
	[status_next] [int] NULL,
	[status_rejection] [int] NULL,
	[assign_profile_id] [int] NULL,
	[assign_area] [int] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_status_workflow] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[types]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NULL,
	[icon] [varchar](50) NULL,
	[class] [varchar](50) NULL,
	[order_by] [int] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[lastname] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](255) NULL,
	[profile_id] [int] NULL,
	[branch_id] [int] NULL,
	[area_id] [int] NULL,
	[signature] [varchar](max) NULL,
	[login_at] [datetime] NULL,
	[logout_at] [datetime] NULL,
	[blocked_at] [datetime] NULL,
	[blocked_attempts] [int] NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL,
	[deleted_at] [date] NULL,
	[updated_password] [datetime] NULL,
	[token_forgot_password] [varchar](500) NULL,
	[token_forgot_password_expiration] [datetime] NULL,
	[assignment_process] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_profiles]    Script Date: 24/08/2022 0:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[profile_id] [int] NULL,
	[deleted_at] [date] NULL,
 CONSTRAINT [PK_users_profiles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[actions] ON 

INSERT [dbo].[actions] ([id], [action], [icon], [class], [description], [href], [data], [deleted_at]) VALUES (1, N'SEE', N'fas fa-eye', N'btn-info row-btn-see', N'Ver', N'/Inbox/Read/{invoice}', NULL, NULL)
INSERT [dbo].[actions] ([id], [action], [icon], [class], [description], [href], [data], [deleted_at]) VALUES (2, N'ADD', N'fas fa-plus', N'btn-success row-btn-add', N'Ingresar', N'/Inbox/Save', NULL, NULL)
INSERT [dbo].[actions] ([id], [action], [icon], [class], [description], [href], [data], [deleted_at]) VALUES (3, N'EDIT', N'fas fa-edit', N'btn-warning row-btn-edit', N'Editar', N'/Inbox/Save/{invoice}', NULL, NULL)
SET IDENTITY_INSERT [dbo].[actions] OFF
GO
SET IDENTITY_INSERT [dbo].[areas] ON 

INSERT [dbo].[areas] ([id], [area], [deleted_at]) VALUES (1, N'Clínica', NULL)
INSERT [dbo].[areas] ([id], [area], [deleted_at]) VALUES (2, N'Administrativa', NULL)
INSERT [dbo].[areas] ([id], [area], [deleted_at]) VALUES (3, N'Comercial', NULL)
SET IDENTITY_INSERT [dbo].[areas] OFF
GO
SET IDENTITY_INSERT [dbo].[branchs] ON 

INSERT [dbo].[branchs] ([id], [branch], [deleted_at]) VALUES (1, N'Sucursal 1', NULL)
INSERT [dbo].[branchs] ([id], [branch], [deleted_at]) VALUES (2, N'Sucursal 2', NULL)
SET IDENTITY_INSERT [dbo].[branchs] OFF
GO
SET IDENTITY_INSERT [dbo].[channels] ON 

INSERT [dbo].[channels] ([id], [channel], [send_email], [deleted_at]) VALUES (1, N'Correo electrónico', 1, NULL)
INSERT [dbo].[channels] ([id], [channel], [send_email], [deleted_at]) VALUES (2, N'Carta certificada a domicilio', 0, NULL)
SET IDENTITY_INSERT [dbo].[channels] OFF
GO
SET IDENTITY_INSERT [dbo].[channels_entry] ON 

INSERT [dbo].[channels_entry] ([id], [code], [entry_channel], [deleted_at]) VALUES (1, N'WB', N'Web', NULL)
INSERT [dbo].[channels_entry] ([id], [code], [entry_channel], [deleted_at]) VALUES (2, N'BU', N'Buzón', NULL)
INSERT [dbo].[channels_entry] ([id], [code], [entry_channel], [deleted_at]) VALUES (3, N'MA', N'Mail', NULL)
SET IDENTITY_INSERT [dbo].[channels_entry] OFF
GO
SET IDENTITY_INSERT [dbo].[districts] ON 

INSERT [dbo].[districts] ([id], [region_id], [district], [deleted_at]) VALUES (1, 1, N'Arica
', NULL)
INSERT [dbo].[districts] ([id], [region_id], [district], [deleted_at]) VALUES (2, 2, N'Iquique
', NULL)
INSERT [dbo].[districts] ([id], [region_id], [district], [deleted_at]) VALUES (3, 3, N'Antofagasta
', NULL)
SET IDENTITY_INSERT [dbo].[districts] OFF
GO
SET IDENTITY_INSERT [dbo].[forms] ON 

SET IDENTITY_INSERT [dbo].[forms] OFF
GO
SET IDENTITY_INSERT [dbo].[forms_documents] ON 

INSERT [dbo].[forms_documents] ([id], [form_id], [doc_desc], [original_name], [path], [upload_name], [user_id], [system], [created_at], [updated_at], [deleted_at]) VALUES (20, 41, N'killua.docx', N'killua.docx', NULL, N'1660614454_3ff1278eccac373a1e49.docx', 2, NULL, CAST(N'2022-08-15T20:47:42.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
INSERT [dbo].[forms_documents] ([id], [form_id], [doc_desc], [original_name], [path], [upload_name], [user_id], [system], [created_at], [updated_at], [deleted_at]) VALUES (21, 42, N'24.06-Prueba_3_DBASE_ELIAS_ALVARADO (1).xlsx', N'24.06-Prueba_3_DBASE_ELIAS_ALVARADO (1).xlsx', NULL, N'1660615488_dcd40d3925ea64ccec21.xlsx', 1003, NULL, CAST(N'2022-08-15T21:08:34.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
INSERT [dbo].[forms_documents] ([id], [form_id], [doc_desc], [original_name], [path], [upload_name], [user_id], [system], [created_at], [updated_at], [deleted_at]) VALUES (22, 41, N'ARCHIVO_WORD.docx', N'ARCHIVO_WORD.docx', NULL, N'1660615746_b150bdb394e1f9c93713.docx', 1003, NULL, CAST(N'2022-08-15T21:09:10.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[forms_documents] OFF
GO
SET IDENTITY_INSERT [dbo].[forms_history] ON 

INSERT [dbo].[forms_history] ([id], [form_id], [user_id], [message], [system], [created_at], [updated_at], [deleted_at]) VALUES (92, 41, 2, N'Se ha creado el formulario', 1, CAST(N'2022-08-15T20:47:42.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
INSERT [dbo].[forms_history] ([id], [form_id], [user_id], [message], [system], [created_at], [updated_at], [deleted_at]) VALUES (93, 41, 2, N'Favor gestionar', 0, CAST(N'2022-08-15T20:49:53.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
INSERT [dbo].[forms_history] ([id], [form_id], [user_id], [message], [system], [created_at], [updated_at], [deleted_at]) VALUES (94, 41, 2, N'Se ha asignado el formulario al usuario: Perfil Gestor, con el estado: En gestión.', 1, CAST(N'2022-08-15T20:49:53.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[forms_history] OFF
GO
SET IDENTITY_INSERT [dbo].[forms_notifications] ON 

INSERT [dbo].[forms_notifications] ([id], [form_id], [user_id], [notification], [is_read], [class], [icon], [created_at], [updated_at], [deleted_at]) VALUES (34, 41, 1003, N'Se ha asignado el formulario: SC00041 para su gestión con el estado: En gestión.', 1, N'bg-info', N'fas fa-ticket-alt', CAST(N'2022-08-15T20:49:53.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
INSERT [dbo].[forms_notifications] ([id], [form_id], [user_id], [notification], [is_read], [class], [icon], [created_at], [updated_at], [deleted_at]) VALUES (35, 42, 2, N'Se ha asignado un nuevo formulario registrado en formulario WEB - Folio: WB00042', 1, N'bg-info', N'fas fa-ticket-alt', CAST(N'2022-08-15T20:54:37.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
INSERT [dbo].[forms_notifications] ([id], [form_id], [user_id], [notification], [is_read], [class], [icon], [created_at], [updated_at], [deleted_at]) VALUES (36, 42, 1003, N'Se ha asignado el formulario: WB00042 para su gestión con el estado: En gestión.', 1, N'bg-info', N'fas fa-ticket-alt', CAST(N'2022-08-15T20:56:16.000' AS DateTime), CAST(N'2022-08-15' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[forms_notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[genders] ON 

INSERT [dbo].[genders] ([id], [gender], [deleted_at]) VALUES (1, N'Femenino', NULL)
INSERT [dbo].[genders] ([id], [gender], [deleted_at]) VALUES (2, N'Masculino', NULL)
INSERT [dbo].[genders] ([id], [gender], [deleted_at]) VALUES (3, N'No quiero entregar este dato', NULL)
SET IDENTITY_INSERT [dbo].[genders] OFF
GO
SET IDENTITY_INSERT [dbo].[menus] ON 

INSERT [dbo].[menus] ([id], [page_id], [profile_id], [deleted_at]) VALUES (1, 1, 2, NULL)
INSERT [dbo].[menus] ([id], [page_id], [profile_id], [deleted_at]) VALUES (3, 3, 2, NULL)
INSERT [dbo].[menus] ([id], [page_id], [profile_id], [deleted_at]) VALUES (4, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[menus] OFF
GO
SET IDENTITY_INSERT [dbo].[pages] ON 

INSERT [dbo].[pages] ([id], [controller], [description], [icon], [parent_id], [is_parent], [section], [order_parent], [order_child], [deleted_at]) VALUES (1, N'Home/Index', N'Inicio', N'fas fa-home', 0, 0, NULL, 1, 0, NULL)
INSERT [dbo].[pages] ([id], [controller], [description], [icon], [parent_id], [is_parent], [section], [order_parent], [order_child], [deleted_at]) VALUES (2, N'Inbox/Save', N'Nuevo Formulario', N'fas fa-plus', 0, 0, NULL, 2, 0, NULL)
INSERT [dbo].[pages] ([id], [controller], [description], [icon], [parent_id], [is_parent], [section], [order_parent], [order_child], [deleted_at]) VALUES (3, N'Inbox/Index', N'Bandeja de Formularios', N'fas fa-ticket-alt', 0, 0, NULL, 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[pages] OFF
GO
SET IDENTITY_INSERT [dbo].[pages_actions] ON 

INSERT [dbo].[pages_actions] ([id], [page_id], [profile_id], [status_id], [actions], [deleted_at]) VALUES (1, 3, 1, 1, N'SEE,REASIGN,EDIT,MANAGEMENT,DISCARD', NULL)
INSERT [dbo].[pages_actions] ([id], [page_id], [profile_id], [status_id], [actions], [deleted_at]) VALUES (2, 3, 1, 2, N'SEE,REASIGN,EDIT,MANAGEMENT,DISCARD', NULL)
INSERT [dbo].[pages_actions] ([id], [page_id], [profile_id], [status_id], [actions], [deleted_at]) VALUES (3, 3, 1, 3, N'SEE,REASIGN,EDIT,MANAGEMENT,DISCARD', NULL)
SET IDENTITY_INSERT [dbo].[pages_actions] OFF
GO
SET IDENTITY_INSERT [dbo].[profiles] ON 

INSERT [dbo].[profiles] ([id], [profile], [deleted_at]) VALUES (1, N'Administrador', NULL)
INSERT [dbo].[profiles] ([id], [profile], [deleted_at]) VALUES (2, N'Lector', NULL)
INSERT [dbo].[profiles] ([id], [profile], [deleted_at]) VALUES (3, N'Ingreso', NULL)
SET IDENTITY_INSERT [dbo].[profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[regions] ON 

INSERT [dbo].[regions] ([id], [region], [deleted_at]) VALUES (1, N'Región de Arica y Parinacota
', NULL)
INSERT [dbo].[regions] ([id], [region], [deleted_at]) VALUES (2, N'Región de Tarapacá
', NULL)
INSERT [dbo].[regions] ([id], [region], [deleted_at]) VALUES (3, N'Región de Antofagasta
', NULL)
SET IDENTITY_INSERT [dbo].[regions] OFF
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([id], [status], [deleted_at]) VALUES (1, N'Ingresado', NULL)
INSERT [dbo].[status] ([id], [status], [deleted_at]) VALUES (2, N'En gestión', NULL)
INSERT [dbo].[status] ([id], [status], [deleted_at]) VALUES (3, N'Pendiente aprobación', NULL)
SET IDENTITY_INSERT [dbo].[status] OFF
GO
SET IDENTITY_INSERT [dbo].[status_workflow] ON 

INSERT [dbo].[status_workflow] ([id], [status_current], [status_next], [status_rejection], [assign_profile_id], [assign_area], [deleted_at]) VALUES (1, 1, 2, 0, 4, 1, NULL)
INSERT [dbo].[status_workflow] ([id], [status_current], [status_next], [status_rejection], [assign_profile_id], [assign_area], [deleted_at]) VALUES (2, 2, 3, 0, 5, 0, NULL)
INSERT [dbo].[status_workflow] ([id], [status_current], [status_next], [status_rejection], [assign_profile_id], [assign_area], [deleted_at]) VALUES (3, 3, 4, 1, 4, 1, NULL)
SET IDENTITY_INSERT [dbo].[status_workflow] OFF
GO
SET IDENTITY_INSERT [dbo].[types] ON 

INSERT [dbo].[types] ([id], [type], [icon], [class], [order_by], [deleted_at]) VALUES (1, N'Reclamo', N'fas fa-exclamation-triangle', N'radio-button-danger', 1, NULL)
INSERT [dbo].[types] ([id], [type], [icon], [class], [order_by], [deleted_at]) VALUES (2, N'Sugerencia', N'fas fa-thumbs-up', N'radio-button-warning', 2, NULL)
INSERT [dbo].[types] ([id], [type], [icon], [class], [order_by], [deleted_at]) VALUES (3, N'Felicitaciones', N'fas fa-smile', N'radio-button-success', 3, NULL)
SET IDENTITY_INSERT [dbo].[types] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[users_profiles] ON 

INSERT [dbo].[users_profiles] ([id], [user_id], [profile_id], [deleted_at]) VALUES (4, 1, 1, NULL)
INSERT [dbo].[users_profiles] ([id], [user_id], [profile_id], [deleted_at]) VALUES (5, 2, 2, NULL)
SET IDENTITY_INSERT [dbo].[users_profiles] OFF
GO
ALTER TABLE [dbo].[forms] ADD  CONSTRAINT [DF_forms_status_id]  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[forms_notifications] ADD  CONSTRAINT [DF_forms_notifications_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[pages] ADD  CONSTRAINT [DF_pages_id_parent]  DEFAULT ((0)) FOR [parent_id]
GO
ALTER TABLE [dbo].[pages] ADD  CONSTRAINT [DF_pages_is_parent]  DEFAULT ((0)) FOR [is_parent]
GO
ALTER TABLE [dbo].[pages] ADD  CONSTRAINT [DF_pages_order_parent]  DEFAULT ((0)) FOR [order_parent]
GO
ALTER TABLE [dbo].[status_workflow] ADD  CONSTRAINT [DF_status_workflow_status_rejection]  DEFAULT ((0)) FOR [status_rejection]
GO
ALTER TABLE [dbo].[status_workflow] ADD  CONSTRAINT [DF_status_workflow_assign_area]  DEFAULT ((0)) FOR [assign_area]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_assignment_process]  DEFAULT ((0)) FOR [assignment_process]
GO
ALTER TABLE [dbo].[districts]  WITH CHECK ADD  CONSTRAINT [FK_regions_districts] FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[districts] CHECK CONSTRAINT [FK_regions_districts]
GO
ALTER TABLE [dbo].[menus]  WITH CHECK ADD  CONSTRAINT [FK_menus_pages] FOREIGN KEY([page_id])
REFERENCES [dbo].[pages] ([id])
GO
ALTER TABLE [dbo].[menus] CHECK CONSTRAINT [FK_menus_pages]
GO
ALTER TABLE [dbo].[menus]  WITH CHECK ADD  CONSTRAINT [FK_menus_profiles] FOREIGN KEY([profile_id])
REFERENCES [dbo].[profiles] ([id])
GO
ALTER TABLE [dbo].[menus] CHECK CONSTRAINT [FK_menus_profiles]
GO
ALTER TABLE [dbo].[users_profiles]  WITH CHECK ADD  CONSTRAINT [FK_users_profiles_profiles] FOREIGN KEY([profile_id])
REFERENCES [dbo].[profiles] ([id])
GO
ALTER TABLE [dbo].[users_profiles] CHECK CONSTRAINT [FK_users_profiles_profiles]
GO
USE [master]
GO
